/**
* Created by gsy on 2017/9/11.
* header
* <!--<cartControl :food="food"></cartControl>-->
*/
.myHeader .header {
  padding: 0 0.75rem;
  background-color: #f4f4f4;
  text-align: center;
  border-bottom: 0.025rem solid #d7d7d7;
  position: relative;
}
.myHeader .header h1 {
  font-size: 0.825rem;
  height: 2.175rem;
  line-height: 2.175rem;
  letter-spacing: 0.075rem;
  color: #222222;
}
.myHeader .header i {
  font-style: normal;
  position: absolute;
  left: 0;
  top: 0;
  width: 0.475rem;
  height: 0.85rem;
}
.myHeader .header i img {
  margin-top: 0.725rem;
  margin-left: 0.75rem;
  width: 0.475rem;
  height: 0.85rem;
  display: block;
}
