input,
textarea {
  border: 0;
  -webkit-appearance: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
html,
body {
  width: 100%;
  min-height: 100%;
  position: relative;
}
.z-hidden {
  width: 100%;
  height: 100% !important;
  overflow: hidden !important;
  position: relative;
}
.m-nodata {
  padding: 3.125rem 0;
}
.m-nodata .u-nodata {
  width: 2.75rem;
  margin: 0 auto;
  text-align: center;
}
.m-nodata p {
  text-align: center;
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.5rem;
}
.m-th-alert {
  display: none;
}
.m-th-alert .m-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 13rem;
  background-color: #ffffff;
  padding: 0.5rem;
  z-index: 12;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.m-th-alert .m-alert-tt {
  height: 2rem;
  line-height: 2em;
  text-align: center;
  color: #71c93f;
  font-size: 0.9rem;
  font-weight: bold;
}
.m-th-alert .m-alert-con {
  text-align: center;
  color: #292b44;
  font-size: 0.8rem;
  min-height: 2.25rem;
  padding: 0.3rem 0;
}
.m-th-alert .m-op {
  width: 100%;
  min-height: 2.25rem;
}
.m-th-alert .m-op span {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  height: 2.25rem;
  line-height: 2.25rem;
  color: #292b44;
  font-size: 0.8rem;
  cursor: pointer;
}
.m-th-alert .m-op span.u-confirm {
  width: 4.35rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #71c93f;
  margin: 0 auto;
  float: none;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-top: 0.5rem;
}
.m-th-alert.z-crt {
  display: block;
}
.g-bottom-fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: block;
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
  z-index: 10;
}
.g-bottom-fixed footer {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: justify;
  -ms-flex-align: center;
  justify-content: space-between;
  align-content: center;
  background-color: #292b44;
}
.g-bottom-fixed footer a {
  text-align: center;
  display: block;
  font-size: 1rem;
  font-family: \5fae\8f6f\96c5\9ed1;
  height: 2.45rem;
  line-height: 2.45rem;
}
.g-bottom-fixed footer .u-navcell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #ffffff;
}
.g-bottom-fixed footer .u-navcell.z-crt {
  color: #71c93f;
}
.g-bottom-fixed footer .confirm-order {
  background-color: #71c93f;
  color: #292b44;
}
.g-bottom-fixed footer .u-navcell.z-disabled {
  background-color: #999999;
}
.g-bottom-fixed footer .appoint {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #71c93f;
  color: #292b44;
}
.g-bottom-fixed footer .appoint.z-disabled {
  background-color: #999999;
}
.g-bottom-fixed footer .share {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #292b44;
  color: #71c93f;
}
.u-btn {
  padding: 10px 14px;
  background-color: #71c93f;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  line-height: 1em;
  border: none;
}
.u-btn:hover {
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
}
.u-btn-red {
  padding: 6px 14px;
  background-color: #71c93f;
  color: #ffffff;
  font-size: 0.7rem;
  display: inline-block;
  line-height: 1em;
  min-width: 4.4rem;
  font-family: \5fae\8f6f\96c5\9ed1;
  border: solid 1px #71c93f;
  text-align: center;
}
.u-btn-red:hover {
  opacity: 0.95;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
}
.u-btn-gray {
  padding: 6px 14px;
  background-color: #fff;
  color: #666;
  border: solid 1px #ccc;
  font-size: 0.7rem;
  display: inline-block;
  line-height: 1em;
  min-width: 4.4rem;
  font-family: \5fae\8f6f\96c5\9ed1;
  text-align: center;
}
.u-btn-gray:hover {
  color: #333!important;
}
.shadow {
  background-color: #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  bottom: 0;
  left: 0;
  outline: 0 none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}
