/*
* 项目公共样式
*/
#mainContainer{
  position:absolute;
  top:60px;
  left:200px;
  bottom:0;
  right:0;
  @h:60px;
  width:calc(~"100vh-@{h}");
  @w:200px;
  height:calc(~"100vw-@{w}");
  padding:20px;
}
/*搜索栏*/
.mysearch{
  background-color: #F6F6F6;
  margin:20px 0 3px;
  .el-form{
    padding: 20px 20px 10px;
    .el-form-item{
      margin-bottom: 10px;
    }
  }
}
/*批量删除*/
.batchGroup{
  margin-bottom:3px;
  float:right;
}
//颜色
.red{
  color:red;
}
.green{
  color:green;
}
//分页样式
.pageNation{
  margin: 20px;
  float:right;
}

/*表单详情页*/
.myformDetail{
  width:90%;
  margin-top:30px;
  .el-form-item{
    width:100%;
    .el-form-item__label{
      width:120px;
    }
    .el-form-item__content{
      width:390px;
      display: inline-block;
    }
    .selRegion{
      Width:24%;
    }
    .selRegion:last-child{
      width:50%;
    }
    .el-input.is-disabled .el-input__inner{
      background-color:#fff;
      border:0 none;
      color:#000;
      cursor: default;
    }
    .el-textarea.is-disabled .el-textarea__inner{
      background-color:#fff;
      border:0 none;
      color:#000;
      cursor: default;
    }
  }
  .btnGroup{
    padding-left: 120px;
  }
}
.formBorder{
  .el-input__inner{
    border:0 none;
  }
}

/*上传图片*/
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #20a0ff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

