.j_imgLoad img {
  background-image: url(../img/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.pagination {
  margin-bottom: 20px;
  margin-top: 20px;
}
.pagination a {
  display: block;
  float: left;
  margin: 0 5px;
  color: #7f7f7f;
  font-size: 14px;
  font-weight: bold;
  height: 37px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  min-width: 37px;
  cursor: pointer;
  background-image: url(../img/bigPage.png);
  background-repeat: no-repeat;
  background-position: 0 -37px;
  position: relative;
}
.pagination a:focus,
.pagination a:hover {
  text-decoration: none;
  background-position: 0 0;
  color: #ffffff;
}
.pagination span {
  float: left;
  display: block;
}
.pagination a.u-sel {
  height: 37px;
  line-height: 37px;
  min-width: 37px;
  background-position: 0 0;
  color: #ffffff;
  cursor: default;
}
.pagination a.u-prev .prev {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 0;
  height: 0;
  overflow: hidden;
  width: 0;
  *display: inline;
  *zoom: 1;
  border-width: 6px;
  border-style: dashed solid dashed dashed ;
  border-color: transparent #4e4e4e transparent transparent;
}
.pagination a.u-next .next {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 0;
  height: 0;
  overflow: hidden;
  width: 0;
  *display: inline;
  *zoom: 1;
  border-width: 6px;
  border-style: dashed dashed dashed solid ;
  border-color: transparent transparent transparent #4e4e4e;
}
.pagination .u-go-page {
  color: #999999;
  font-size: 12px;
  line-height: 37px;
  margin: 0 5px;
}
.pagination .u-mid {
  color: #999999;
  font-size: 12px;
  line-height: 37px;
  margin: 0 5px;
}
.pagination .u-page-form {
  display: block;
  margin-left: 20px;
  float: left;
  color: #999999;
  font-size: 12px;
}
.pagination .u-page-form .u-ipt-txt,
.pagination .u-page-form .u-page-submit {
  height: 37px;
  width: 37px;
  background-image: url(../img/bigPage.png);
  background-repeat: no-repeat;
  background-position: 0 -37px;
  text-align: center;
  padding: 10px 0;
  border: none;
  outline: none;
  margin: 0 5px;
  color: #7f7f7f;
}
.pagination .u-page-form .u-page-submit {
  font-weight: bold;
  font-size: 12px;
}
.pagination .u-page-form .u-page-submit:focus,
.pagination .u-page-form .u-page-submit:hover {
  background-position: 0 0;
  color: #ffffff;
  outline: none;
}
.u-btn {
  padding: 10px 14px;
  background-color: #db0000;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  line-height: 1em;
  border: none;
}
.u-btn:hover {
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
}
.u-btn-red {
  padding: 10px 14px;
  background-color: #db0000;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  line-height: 1em;
  border: solid 1px #db0000;
  min-width: 60px;
}
.u-btn-red:hover {
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
}
.u-btn-gray {
  padding: 10px 14px;
  background-color: #fff;
  color: #666;
  border: solid 1px #ccc;
  font-size: 12px;
  display: inline-block;
  line-height: 1em;
  min-width: 60px;
  font-family: \5fae\8f6f\96c5\9ed1;
  text-align: center;
}
.u-btn-gray:hover {
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
}
.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.j_clean {
  width: 16px;
  height: 16px;
  background: url(../img/close.png) no-repeat 0 0;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -8px;
  z-index: 99999999;
  cursor: pointer;
  display: none;
}
.j_pw {
  width: 18px;
  height: 12px;
  background-image: url(../img/pw.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -6px;
  z-index: 99999999;
  cursor: pointer;
  display: none;
}
.j_showpw {
  background-position: 0 0;
}
.j_hidepw {
  background-position: 0 -12px;
}
.shadow {
  background-color: #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  bottom: 0;
  left: 0;
  outline: 0 none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
.table-responsive th {
  background-color: #f3f3f3;
  color: #666666;
  border-bottom: none;
  font-family: \5fae\8f6f\96c5\9ed1;
  font-size: 14px;
}
.table > thead > tr > th {
  border-bottom: none;
}
.table > tbody > tr > td {
  border-bottom: 1px solid #ddd;
  border-top: none;
}
.modal-dialog {
  z-index: 1052;
}
.m-shopcar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  z-index: 99;
}
.m-shopcar .cart,
.m-shopcar .user {
  display: block;
  position: relative;
  float: left;
  padding: 20px 0 20px 30px;
  font-size: 14px;
  color: #4c4c4c;
  margin-left: 20px;
  font-family: \5fae\8f6f\96c5\9ed1;
}
.m-shopcar .cart:before,
.m-shopcar .user:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.m-shopcar .cart:hover,
.m-shopcar .user:hover,
.m-shopcar .cart:focus,
.m-shopcar .user:focus {
  color: #db0000;
  text-decoration: none;
}
.m-shopcar .cart:hover:before,
.m-shopcar .user:hover:before,
.m-shopcar .cart:focus:before,
.m-shopcar .user:focus:before {
  background-position: 0 -20px;
}
.m-shopcar .cart:before {
  background-image: url(../img/cart.png);
}
.m-shopcar .cart span {
  position: absolute;
  display: block;
  min-width: 14px;
  -moz-border-radius: 7px 7px 7px 0;
  -webkit-border-radius: 7px 7px 7px 0;
  -o-border-radius: 7px 7px 7px 0;
  border-radius: 7px 7px 7px 0;
  padding: 1px 2px;
  line-height: 14px;
  background-color: #db0000;
  color: #ffffff;
  font-family: arial;
  font-size: 12px;
  text-align: center;
  left: 20px;
  top: 7px;
}
.m-shopcar .user:before {
  background-image: url(../img/user.png);
}
.m-shopcar .m-usercart {
  position: relative;
}
.m-shopcar .m-subnav {
  position: absolute;
  width: 150px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  z-index: 2;
  height: 0;
  font-size: 0;
  line-height: 0;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-color: #ffffff;
}
.m-shopcar .m-subnav.z-crt {
  height: auto;
  border: solid #d6d6d6 1px;
}
.m-shopcar .m-subnavc {
  background-color: #ffffff;
  padding: 12px;
  position: relative;
  font-size: 12px;
  line-height: 1em;
}
.m-shopcar .m-subnavc:before,
.m-shopcar .m-subnavc:after {
  position: absolute;
  left: 50%;
  display: block;
  content: '';
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.m-shopcar .m-subnavc:before {
  z-index: 4;
  font-size: 0;
  height: 0;
  overflow: hidden;
  width: 0;
  *display: inline;
  *zoom: 1;
  border-width: 12px;
  border-style: dashed dashed solid dashed ;
  border-color: transparent transparent #d6d6d6 transparent;
  top: -24px;
}
.m-shopcar .m-subnavc:after {
  z-index: 5;
  font-size: 0;
  height: 0;
  overflow: hidden;
  width: 0;
  *display: inline;
  *zoom: 1;
  border-width: 12px;
  border-style: dashed dashed solid dashed ;
  border-color: transparent transparent #ffffff transparent;
  top: -23px;
}
.m-shopcar .m-subnavc li + li {
  margin: 20 0 0px;
  border-top: solid #e3e3e3 1px;
}
.m-shopcar .m-subnavc a {
  display: block;
  color: #08c;
  font-size: 12px;
  text-align: left;
  padding: 10px 0 10px 30px;
  position: relative;
}
.m-shopcar .m-subnavc a:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.m-shopcar .m-subnavc a:focus,
.m-shopcar .m-subnavc a:hover {
  color: #db0000;
  text-decoration: none;
}
.m-shopcar .m-subnavc .notlogin:after {
  background-image: url(../img/reg_login.png);
}
.m-shopcar .m-subnavc .notlogin.login:after {
  background-position: 0 0;
}
.m-shopcar .m-subnavc .notlogin.login:focus:after,
.m-shopcar .m-subnavc .notlogin.login:hover:after {
  background-position: 0 -16px;
}
.m-shopcar .m-subnavc .notlogin.reg:after {
  background-position: 0 -32px;
}
.m-shopcar .m-subnavc .notlogin.reg:focus:after,
.m-shopcar .m-subnavc .notlogin.reg:hover:after {
  background-position: 0 -48px;
}
.m-shopcar .m-subnavc .logined:after {
  background-image: url(../img/logined.png);
}
.m-shopcar .m-subnavc .logined.profile:after {
  background-position: 0 0;
}
.m-shopcar .m-subnavc .logined.profile:focus:after,
.m-shopcar .m-subnavc .logined.profile:hover:after {
  background-position: 0 -16px;
}
.m-shopcar .m-subnavc .logined.orders:after {
  background-position: 0 -32px;
}
.m-shopcar .m-subnavc .logined.orders:focus:after,
.m-shopcar .m-subnavc .logined.orders:hover:after {
  background-position: 0 -48px;
}
.m-shopcar .m-subnavc .logined.addresses:after {
  background-position: 0 -64px;
}
.m-shopcar .m-subnavc .logined.addresses:focus:after,
.m-shopcar .m-subnavc .logined.addresses:hover:after {
  background-position: 0 -80px;
}
.m-shopcar .m-subnavc .logined.loginout:after {
  background-position: 0 -96px;
}
.m-shopcar .m-subnavc .logined.loginout:focus:after,
.m-shopcar .m-subnavc .logined.loginout:hover:after {
  background-position: 0 -112px;
}
.m-page {
  text-align: center;
}
.nav-hy {
  float: right !important;
  margin-right: 100px;
}
.g-wrap {
  margin: 0 auto;
  min-height: 1px;
  position: relative;
  width: 1200px;
}
.m-city {
  border-left: 1px solid #dadada;
  color: #656565;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-left: 24px;
  padding-left: 20px;
  padding-right: 35px;
  position: relative;
  margin-top: 9px;
  line-height: 1em;
  float: left;
}
.m-city .u-cityselected {
  color: #656565;
  font-size: 14px;
  font-family: \5fae\8f6f\96c5\9ed1;
  display: inline-block;
  min-width: 64px;
  height: 14px;
}
.m-city .m-nowIpcity {
  padding: 10px 0;
}
.m-city .m-citylist {
  width: 300px;
  background-color: #fff;
  font-size: 14px;
  left: -1px;
  padding: 20px 20px 0;
  position: absolute;
  top: 36px;
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 99;
}
.m-city .m-citylist dl + dl {
  border-top: 1px solid #ccc;
}
.m-city .m-citylist dl {
  padding: 10px 0;
}
.m-city .m-citylist dt,
.m-city .m-citylist dd,
.m-city .m-citylist a {
  float: left;
  font-size: 12px;
}
.m-city .m-citylist dt {
  font-weight: bold;
}
.m-city .m-citylist a {
  color: #787878;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  text-align: left;
  white-space: nowrap;
}
.g-hd {
  background-color: #ffffff;
  padding: 14px 0;
}
.g-hd .m-logo,
.g-hd .m-nav {
  float: left;
}
.g-hd .m-logo a {
  display: block;
  width: 105px;
  height: 30px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.g-hd .m-loginreg {
  float: right;
}
.g-hd .m-loginreg a,
.g-hd .m-loginreg span {
  display: inline-block;
  line-height: 2.3em;
}
.g-hd .m-loginreg span {
  color: #666;
  font-size: 12px;
  font-family: \5b8b\4f53;
}
.g-hd .m-loginreg a {
  color: #333;
  font-size: 14px;
  font-family: \5fae\8f6f\96c5\9ed1;
}
.g-hd .m-loginreg a:hover {
  color: #000000;
}
.g-hd .m-nav {
  padding-left: 75px;
}
.g-hd .m-nav li {
  float: left;
  margin: 0 30px;
}
.g-hd .m-nav a {
  display: inline-block;
  padding: 7px 0;
  border-bottom: solid #ffffff 2px;
  line-height: 1em;
  color: #000000;
  font-size: 16px;
  font-family: \5fae\8f6f\96c5\9ed1;
}
.g-hd .m-nav a:hover {
  border-color: #0ecb5d;
}
.g-hd .m-nav a.z-crt {
  border-color: #0ecb5d;
}
.g-ft {
  width: 100%;
  background-color: #2b2d2e;
  padding: 30px 0;
  position: relative;
}
.g-ft .u-ft-row-1 {
  padding: 0 80px;
}
.g-ft .u-ft-col {
  float: left;
  min-width: 68px;
  margin-right: 80px;
}
.g-ft dt {
  font-size: 14px;
  margin-bottom: 10px;
}
.g-ft a {
  font-size: 12px;
  line-height: 2em;
}
.g-ft a,
.g-ft dt {
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
}
.g-ft a:hover,
.g-ft dt:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  text-decoration: none;
}
.g-ft .qr_code {
  position: absolute;
  right: 80px;
  top: 0;
  width: 80px;
  text-align: center;
}
.g-ft .qr_code:hover dt {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}
.g-ft .qr_code .code_text {
  color: #ffffff;
  text-align: center;
  padding: 6px 0;
}
.u-copyright {
  margin-top: 70px;
  line-height: 1.8em;
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  text-align: center;
}
.u-copyright:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}
.control-label {
  color: #636262;
  font-weight: 400;
  font-family: \5fae\8f6f\96c5\9ed1;
  font-size: 14px;
}
@font-face {
  font-family: 'icomoon';
  src: url('/common/fonts/icomoon.eot');
  src: url('/common/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('/common/fonts/icomoon.woff') format('woff'), url('/common/fonts/icomoon.ttf') format('truetype'), url('/common/fonts/icomoon.svg#uxicomoon') format('svg');
}
.I-ico {
  font-family: "icomoon" !important;
  font-size: 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
