.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.com:after {
  content: '';
  display: block;
  height: 0.05rem;
  width: 18.75rem;
  background: #ece7e7;
}
.z-header-com {
  padding: 0 0.75rem;
  position: relative;
  height: 2.2rem;
  color: #333;
  background-color: #F4F4F4;
  line-height: 2.2rem;
}
.z-header-com h1 {
  font-size: 1rem;
}
.z-header-com .return {
  position: absolute;
  left: 0.625rem;
  top: 0;
}
.z-header-com .return img {
  vertical-align: middle;
  width: 0.4rem;
  height: 0.7rem;
}
.z-header-com .z-agency-search {
  width: 15.05rem;
  height: 1.3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  line-height: 1.3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  font-size: 0;
}
.z-header-com .z-agency-search ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #DFDFDF;
}
.z-header-com .z-agency-search ::-moz-placeholder {
  /* Firefox 19+ */
  color: #DFDFDF;
}
.z-header-com .z-agency-search :-ms-input-placeholder {
  /* IE 10+ */
  color: #DFDFDF;
}
.z-header-com .z-agency-search :-moz-placeholder {
  /* Firefox 18- */
  color: #DFDFDF;
}
.z-header-com .z-agency-search img {
  margin: 0 0.3rem 0 1rem;
  width: 0.875rem;
  height: 0.8rem;
  vertical-align: middle;
}
.z-header-com .z-agency-search input {
  width: 8.75rem;
  font-size: 0.75rem;
  color: #999;
  border: none;
  outline: none;
  height: 0.9rem;
  vertical-align: middle;
}
.z-ag-select {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-ag-select .z-ag-a {
  letter-spacing: 0.05rem;
  width: 9.375rem;
  line-height: 2.35rem;
  text-align: center;
}
.z-ag-select .z-ag-a .z-vertical-line {
  width: 0.05rem;
  height: 0.8rem;
  display: inline-block;
  background-color: #D7D7D7;
  vertical-align: middle;
  position: relative;
  right: -2.5rem;
}
.z-ag-select .z-ag-s {
  line-height: 2.35rem;
  text-align: center;
  width: 9.375rem;
}
.z-ag-select .sp-text-com {
  font-size: 0.85rem;
  color: #222222;
  line-height: 1.5rem;
  margin-left: 0.5rem;
}
.z-ag-select .triangle {
  width: 0;
  height: 0;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.35rem solid #81838e;
  position: relative;
  top: 0.75rem;
  left: 0.5rem;
}
.z-ag-select .activeC {
  color: #28cba7;
}
.z-ag-select .activeTri {
  border-top-color: #28cba7;
  border-bottom-color: #28cba7;
}
.z-ag-frame {
  position: relative;
}
.z-ag-frame .z-ag-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
}
.z-ag-frame .z-ag-listS {
  padding: 0.5rem 0.625rem 0;
  width: 17.5rem;
  background-color: #fff;
}
.z-ag-frame .z-ag-listS li {
  float: left;
  width: 5.75rem;
  height: 100%;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.z-ag-frame .z-ag-listS li .pitch {
  height: 1.75rem;
  color: #333;
  width: 4rem;
  margin: auto;
  line-height: 1.75rem;
  border: 0.05rem solid #f1f2f6;
  border-radius: 0.25rem;
  background-color: #f1f2f6;
}
.z-ag-frame .z-ag-listS li .pitch span {
  font-size: 0.75rem;
}
.z-ag-frame .z-ag-listS li .pitch img {
  width: 0.65rem;
  height: 0.5rem;
  display: none;
}
.z-ag-frame .z-ag-listS li .on {
  color: #28cba7;
  border-color: #28CBA7;
}
.z-ag-frame .z-ag-listS li .on img {
  display: inline-block;
}
.z-ag-frame .z-ag-listA {
  padding: 0 0.625rem;
  width: 17.5rem;
  background-color: #fff;
}
.z-ag-frame .z-ag-listA li {
  float: left;
  width: 5.75rem;
  height: 100%;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.z-ag-frame .z-ag-listA li .pitch {
  height: 1.75rem;
  color: #333;
  width: 4rem;
  margin: auto;
  line-height: 1.75rem;
  border: 0.05rem solid #f1f2f6;
  border-radius: 0.25rem;
  background-color: #f1f2f6;
}
.z-ag-frame .z-ag-listA li .pitch span {
  font-size: 0.75rem;
}
.z-ag-frame .z-ag-listA li .pitch img {
  width: 0.65rem;
  height: 0.5rem;
  display: none;
}
.z-ag-frame .z-ag-listA li .on {
  color: #28cba7;
  border-color: #28CBA7;
}
.z-ag-frame .z-ag-listA li .on img {
  display: inline-block;
}
.z-ag-frame .shadow {
  min-height: 30rem;
  height: 100%;
  width: 18.75rem;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
}
