.z-agencylist .z-com-f {
  width: 18.75rem;
  padding: 0 !important;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-agencylist .z-com-f .primaryMain {
  padding: 0 0.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.z-agencylist .z-com-f .primaryMain .pic-com {
  margin: 0.5rem 0.5rem 0.5rem 0.25rem;
  width: 2rem;
  position: relative;
}
.z-agencylist .z-com-f .primaryMain .pic-com .pic-com-picture {
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.z-agencylist .z-com-f .primaryMain .pic-com .pic-com-picture-bg {
  text-align: center;
  background-color: #44CCFE;
  color: #fff;
  font-size: 0.7rem;
}
.z-agencylist .z-com-f .primaryMain .pic-com img {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info {
  margin: 0.25rem 0 0.5rem 0.25rem;
  width: 14.75rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info {
  height: 1.3rem;
  line-height: 1.3rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partO {
  width: 11rem;
  height: 1.3rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partO .z-ag-r-info-name {
  max-width: 7.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partO .z-ag-r-info-auth {
  display: inline-block;
  overflow: hidden;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partO .z-ag-r-info-auth-sty {
  font-size: 0.6rem;
  border: 0.05rem solid #ff0000;
  color: #FF0000;
  border-radius: 0.1rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partO .z-ag-level {
  width: 0.75rem;
  height: 0.75rem;
  vertical-align: middle;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partT {
  width: 3.75rem;
  line-height: 1.5rem;
  text-align: right;
  font-size: 0.6rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partT .z-ag-r-text {
  vertical-align: middle;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-real-info .z-ag-r-f-partT .z-ag-r-img {
  width: 0.55rem;
  height: 0.6rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-tagNames {
  font-size: 0.7rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-tagName-sp {
  padding: 0 0.25rem;
  margin: 0.25rem 0.25rem 0.125rem 0;
  background-color: #f4f4f4;
  border-radius: 0.1rem;
  color: #646464;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-info-addr {
  padding-bottom: 0.25rem;
  height: 1.15rem;
  line-height: 1.15rem;
  font-size: 0.65rem;
  color: #646464;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-address {
  height: 1rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-address .pos-pic {
  width: 0.575rem;
  height: 0.65rem;
  vertical-align: middle;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-address .z-ag-addr {
  font-size: 0.65rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-result {
  line-height: 0.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .zAgResultCompensate {
  padding-top: 0.4rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-result-text {
  font-size: 0.65rem;
  color: #969696;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-main {
  position: relative;
  line-height: 1.45rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-main-l {
  width: 0.6rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-main-r {
  margin-left: 0.375rem;
  width: 13.625rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-icon {
  width: 0.6rem;
  height: 0.6rem;
  vertical-align: 0.1rem;
}
.z-agencylist .z-com-f .primaryMain .z-ag-info .z-ag-main-text {
  font-size: 0.65rem;
  color: #969696;
}
