.c-gll-code {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 17.25rem 23.75rem;
  background-position: center;
  background-image: url("../img/registGLL.png");
  background-color: #EC534D;
}
.c-gll-code .c-gll-layout {
  position: relative;
  top: 6rem;
}
.c-gll-code .c-gll-title {
  margin: 0.5rem auto;
  width: 6.6rem;
  height: 1.275rem;
  display: block;
}
.c-gll-code .c-gll-verificationCode {
  margin: 1rem auto;
  width: 11.6rem;
  height: 11.6rem;
  display: block;
}
.c-gll-code .c-gll-Text {
  margin: 0.5rem auto;
  width: 11rem;
  height: 0.85rem;
  display: block;
}
