.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.com:after {
  content: '';
  display: block;
  height: 0.05rem;
  width: 18.75rem;
  background: #ece7e7;
}
.z-header-com {
  padding: 0 0.625rem;
  position: relative;
  width: 17.5rem;
  height: 2.2rem;
  color: #333;
  background-color: #f4f4f4;
  line-height: 2.2rem;
}
.z-header-com h1 {
  font-size: 1rem;
}
.z-header-com .return {
  position: absolute;
  left: 0.625rem;
  top: 0;
}
.z-header-com .return img {
  width: 0.625rem;
  height: 1rem;
  vertical-align: middle;
}
.z-header-com .z-cold-search {
  width: 15rem;
  height: 1.3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  line-height: 1.3rem;
  border: 0.05rem solid transparent;
  border-radius: 1.5rem;
  background-color: #fff;
}
.z-header-com .z-cold-search img {
  margin-left: 1rem;
  width: 0.875rem;
  height: 0.8rem;
  vertical-align: middle;
}
.z-header-com .z-cold-search input {
  width: 8.75rem;
  font-size: 0.75rem;
  color: #999;
  border: none;
  outline: none;
  height: 0.9rem;
  line-height: 0.9rem;
  vertical-align: middle;
}
.z-cold {
  background-color: #fff;
}
.z-cold .z-c-select {
  border-bottom: 0.05rem solid #dcd7d7;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-cold .z-c-select .z-c-a {
  width: 9.375rem;
  line-height: 2rem;
  text-align: center;
}
.z-cold .z-c-select .z-c-a .z-vertical-line {
  width: 0.05rem;
  height: 1.5rem;
  display: inline-block;
  background-color: #7e7e7e;
  vertical-align: middle;
  position: relative;
  right: -2.5rem;
}
.z-cold .z-c-select .z-c-s {
  line-height: 2rem;
  text-align: center;
  width: 9.375rem;
}
.z-cold .z-c-select .sp-text-com {
  font-size: 0.75rem;
  color: #333;
  line-height: 1.5rem;
  margin-left: 0.5rem;
}
.z-cold .z-c-select .triangle {
  width: 0;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-top: 0.25rem solid #333333;
  position: relative;
  top: 0.75rem;
  left: 0.5rem;
}
.z-cold .z-c-select .activeC {
  color: #28cba7;
}
.z-cold .z-c-select .activeTri {
  border-top-color: #28cba7;
  border-bottom-color: #28cba7;
}
.z-cold .z-c-frame {
  position: relative;
}
.z-cold .z-c-frame .z-c-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
}
.z-cold .z-c-frame .z-c-listS {
  padding: 0.5rem 0.625rem 0;
  width: 17.5rem;
  background-color: #fff;
}
.z-cold .z-c-frame .z-c-listS li {
  float: left;
  width: 5.75rem;
  height: 100%;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.z-cold .z-c-frame .z-c-listS li .pitch {
  height: 1.75rem;
  color: #333;
  width: 4rem;
  margin: auto;
  line-height: 1.75rem;
  border: 0.05rem solid #f1f2f6;
  border-radius: 0.25rem;
  background-color: #f1f2f6;
}
.z-cold .z-c-frame .z-c-listS li .pitch span {
  font-size: 0.75rem;
}
.z-cold .z-c-frame .z-c-listS li .pitch img {
  width: 0.65rem;
  height: 0.5rem;
  display: none;
}
.z-cold .z-c-frame .z-c-listS li .on {
  color: #28cba7;
  border-color: #28CBA7;
}
.z-cold .z-c-frame .z-c-listS li .on img {
  display: inline-block;
}
.z-cold .z-c-frame .z-c-listA {
  padding: 0 0.625rem;
  width: 17.5rem;
  background-color: #fff;
}
.z-cold .z-c-frame .z-c-listA li {
  float: left;
  width: 5.75rem;
  height: 100%;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.z-cold .z-c-frame .z-c-listA li .pitch {
  height: 1.75rem;
  color: #333;
  width: 4rem;
  margin: auto;
  line-height: 1.75rem;
  border: 0.05rem solid #f1f2f6;
  border-radius: 0.25rem;
  background-color: #f1f2f6;
}
.z-cold .z-c-frame .z-c-listA li .pitch span {
  font-size: 0.75rem;
}
.z-cold .z-c-frame .z-c-listA li .pitch img {
  width: 0.65rem;
  height: 0.5rem;
  display: none;
}
.z-cold .z-c-frame .z-c-listA li .on {
  color: #28cba7;
  border-color: #28CBA7;
}
.z-cold .z-c-frame .z-c-listA li .on img {
  display: inline-block;
}
.z-cold .z-c-frame .shadow {
  min-height: 30rem;
  height: 100%;
  width: 18.75rem;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
}
.z-cold .c-filter {
  width: 18.75rem;
  background-color: #fff;
}
.z-cold .c-filter .c-filter-com {
  width: 18.25rem;
  margin-left: 0.5rem;
  height: 2.3rem;
  line-height: 2.3rem;
  border-bottom: 0.05rem solid #e0e0e0;
}
.z-cold .c-filter .c-filter-com span {
  font-size: 0.7rem;
}
.z-cold .c-filter .c-filter-com img {
  width: 0.7rem;
  height: 0.7rem;
  text-align: right;
}
.z-cold .c-filter .c-filter-ok {
  width: 18.75rem;
  height: 2.3rem;
  border-bottom: 0.05rem solid #7e7e7e;
}
.z-cold .c-filter .c-filter-ok .z-f-ok {
  width: 2rem;
  font-size: 0.7rem;
  color: #fff;
  background-color: #0ecb5d;
  padding: 0 0.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  position: relative;
  top: 50%;
  left: 12.5rem;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.z-cold .c-filter .Cactive {
  color: #0ecb5d;
}
