.z-coldlist .z-com-f {
  width: 18.75rem;
  padding: 0 !important;
  border-bottom: 0.025rem solid #d7d7d7;
}
.z-coldlist .z-com-f .primaryMain {
  padding: 0 0.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.z-coldlist .z-com-f .primaryMain .pic-com {
  margin: 0.5rem 0;
  width: 4.5rem;
  position: relative;
}
.z-coldlist .z-com-f .primaryMain .pic-com img {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info {
  width: 12.25rem;
  height: 4.5rem;
  margin: 0.625rem 0 0.5rem 0.65rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info {
  margin-bottom: 0.5rem;
  position: relative;
  height: 0.8rem;
  line-height: 0.8rem;
  vertical-align: top;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info .c-r-info-title {
  width: 9.75rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info .c-r-info-title .z-c-r-name {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.075rem;
  color: #222328;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info .c-r-info-bs {
  width: 2.5rem;
  text-align: right;
  line-height: 0.8rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info .c-r-info-bs img {
  width: 0.55rem;
  height: 0.6rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info .c-r-info-bs span {
  font-size: 0.6rem;
  color: #74746b;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-storage {
  height: 0.65rem;
  line-height: 0.65rem;
  margin-bottom: 0.4rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-storage .z-c-storage-text {
  font-size: 0.65rem;
  vertical-align: top;
  color: #646464;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real {
  height: 0.75rem;
  vertical-align: top;
  line-height: 0.75rem;
  font-size: 0;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real .z-c-r,
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real .z-c-r-e {
  font-size: 0.575rem;
  border-radius: 0.125rem;
  padding: 0.075rem 0.125rem;
  letter-spacing: 0.025rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real .z-c-r {
  border: 0.025rem solid #2ac9a4;
  color: #2AC9A4;
  margin-right: 0.5rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real .z-c-r-e {
  border: 0.025rem solid #fd9e24;
  color: #FD9E24;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address {
  height: 1.125rem;
  line-height: 0.625rem;
  vertical-align: top;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address .z-c-address-icon {
  width: 0.75rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address .z-c-address-text {
  width: 11.25rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address .pos-pic {
  width: 0.45rem;
  height: 0.55rem;
  vertical-align: middle;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address .z-c-add {
  font-size: 0.65rem;
  color: #646464;
  letter-spacing: 0.075rem;
}
