.z-coldlist .z-com-f {
  width: 18.75rem;
  padding: 0 !important;
}
.z-coldlist .z-com-f .primaryMain {
  padding: 0 0.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.z-coldlist .z-com-f .primaryMain .pic-com {
  margin: 0.5rem 0;
  width: 4.6rem;
  position: relative;
}
.z-coldlist .z-com-f .primaryMain .pic-com img {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  border: 0.05rem solid #7e7e7e;
}
.z-coldlist .z-com-f .primaryMain .z-c-info {
  width: 12.5rem;
  height: 4.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info {
  height: 1.125rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real-info .z-c-r-name {
  font-size: 0.7rem;
  font-weight: bold;
  vertical-align: top;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-storage {
  height: 1.125rem;
  line-height: 1.125rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-storage .z-c-storage-text {
  font-size: 0.65rem;
  vertical-align: top;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real {
  height: 1.125rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real .z-c-r {
  font-size: 0.65rem;
  background-color: #93ecb8;
  border: 0.05rem solid #93ecb8;
  color: #7e7e7e;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-real .z-c-r-e {
  font-size: 0.65rem;
  background-color: #fff;
  border: 0.05rem solid #d6d0d0;
  color: #000;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address {
  position: relative;
  line-height: 1.125rem;
  height: 1.125rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address .pos-pic {
  width: 0.575rem;
  height: 0.65rem;
}
.z-coldlist .z-com-f .primaryMain .z-c-info .z-c-address .z-c-add {
  font-size: 0.65rem;
  line-height: 1.125rem;
  vertical-align: top ;
}
