.Jhds_co .c-empty-collect-show {
  margin: 7.5rem 0;
  text-align: center;
}
.Jhds_co .c-empty-collect-show img {
  width: 8.45rem;
  height: 6.675rem;
}
.Jhds_co .c-empty-collect-show .c-z-collect {
  font-size: 0.8rem;
  color: #323232;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}
