p {
  padding: 0;
  margin: 0;
}
.c-home-Scroll {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 2.5rem;
  right: 0;
  width: 100%;
}
.z-content {
  font-family: \5fae\8f6f\96c5\9ed1;
}
.z-content .z-search {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 17.95rem;
  height: 1.75rem;
  padding: 0.25rem 0.4rem 0;
}
.z-content .z-search .z-search-position {
  float: left;
  width: 2.25rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.z-content .z-search .z-search-down {
  float: left;
  width: 0.5rem;
  height: 1.6rem;
  background-image: url("../img/down_less.png");
  background-repeat: no-repeat;
  background-size: 0.5rem 0.275rem;
  background-position: center;
}
.z-content .z-search .z-part-one {
  position: relative;
  left: 3rem;
  top: 0;
  width: 13rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}
.z-content .z-search .z-part-one .z-part-one-bg {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  border-radius: 0.2rem;
}
.z-content .z-search .z-part-one .z-part-one-content {
  position: absolute;
  top: 0;
}
.z-content .z-search .z-part-one .z-part-one-content img {
  width: 0.875rem;
  height: 0.8rem;
  vertical-align: middle;
  margin-left: 1rem;
}
.z-content .z-search .z-part-one .z-part-one-content input {
  border: none;
  outline: none;
  font-size: 0.75rem;
  height: 0.875rem;
  line-height: 0.875rem;
  width: 6.25rem;
  color: #fff;
  background: transparent;
}
.z-content .z-search .z-part-two {
  float: right;
  margin-top: -1.6rem;
  height: 1.6rem;
  width: 1.6rem;
  background: url("../img/whiteMsg.png") no-repeat center;
  background-size: 1.1rem 1.1rem;
}
.z-content .z-search .z-part-two .circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  border-radius: 100%;
  margin: 0.25rem 0 0 1rem;
}
.z-content .tool {
  margin-top: 0.5rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-content .tool ul li {
  float: left;
  width: 4.6875rem;
  height: 3.875rem;
}
.z-content .tool ul li img {
  width: 2.2rem;
  height: 2.2rem;
  line-height: 4.875rem;
  margin: auto;
  display: block;
}
.z-content .tool ul li p {
  width: 100%;
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.5rem;
}
.z-content .z-home-gq {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  padding: 0.525rem 0.4rem;
  background-color: #f3f3f3;
  line-height: 0;
}
.z-content .z-home-gq .z-h-com {
  width: 9rem;
}
.z-content .z-home-gq .z-h-com img {
  width: 8.75rem;
  height: 4.75rem;
}
.z-content .z-home-gq .c-right {
  text-align: right;
}
.z-content .z-banner {
  padding: 0.5rem 0.5rem 0;
}
.z-content .z-banner img {
  height: 3.675rem;
  width: 17.5rem;
  border-radius: 0.25rem;
}
.z-content .z-recommend {
  position: relative;
}
.z-content .z-recommend .z-title-pic {
  width: 18.75rem;
  height: 1.7rem;
}
.z-content .z-recommend .z-title-pic img {
  width: 100%;
  height: 100%;
}
.z-content .z-recommend .more {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  font-size: 0.7rem;
  line-height: 1.7rem;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.z-header-h {
  position: relative;
  width: 18.75rem;
}
.z-header-h .z-carousel {
  width: 18.75rem;
}
.z-header-h .z-carousel img {
  width: 100%;
  height: 6.575rem;
}
.z-h-ul {
  background-color: #fff;
}
.z-h-ul li {
  border-bottom: 1px solid #f4f4f4;
}
.bread-com {
  padding: 0 !important;
}
.bread-com .primaryMain {
  padding: 0 0.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.bread-com .primaryMain .pic-com {
  margin: 0.5rem 0;
  position: relative;
  width: 5rem;
}
.bread-com .primaryMain .pic-com img {
  width: 5rem;
  height: 5rem;
  display: block;
  border-radius: 0.1rem;
}
.bread-com .primaryMain .pic-com .z-representative {
  position: absolute;
  bottom: 0;
  width: 1.75rem;
  height: 0.75rem;
}
.bread-com .primaryMain .z-info {
  margin: 0.5rem 0 0.5rem 0.5rem;
  width: 12.25rem;
}
.bread-com .primaryMain .z-info .c-introduce {
  height: 1rem;
  width: 12.25rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.bread-com .primaryMain .z-info .c-introduce .z-gq {
  height: 1rem;
}
.bread-com .primaryMain .z-info .c-introduce .z-gq .z-gq-t {
  line-height: 0.85rem;
  font-size: 0.6rem;
  color: #fff ;
  background-color: #ff4535 ;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.1rem;
  padding: 0 0.15rem;
}
.bread-com .primaryMain .z-info .c-introduce .c-sp-com {
  font-family: \5fae\8f6f\96c5\9ed1;
  height: 1rem;
  line-height: 0.8rem;
}
.bread-com .primaryMain .z-info .c-introduce .c-sp-com .z-c-sku {
  font-size: 0.8rem;
  color: #222328;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10.25rem;
  margin-left: 0.25rem;
  font-weight: 600;
}
.bread-com .primaryMain .z-info .c-introduce .bg {
  background-color: #28CBA7 !important;
}
.bread-com .primaryMain .z-info .c-pos {
  height: 1rem;
  line-height: 1rem;
}
.bread-com .primaryMain .z-info .c-pos .g-sp-money {
  font-size: 0.9rem;
}
.bread-com .primaryMain .z-info .c-pos .g-sp-com {
  color: #646464;
  font-size: 0.6rem;
  background: #f4f4f4;
}
.bread-com .primaryMain .z-info .c-pos .g-sp-price {
  font-size: 0.9rem;
}
.bread-com .primaryMain .z-info .c-pos .g-first {
  margin-right: 0.5rem;
  padding: 0 0.25rem;
  border-radius: 0.1rem;
}
.bread-com .primaryMain .z-info .c-pos .g-second {
  color: #fff;
  background-color: #FD9E24;
}
.bread-com .primaryMain .z-info .c-pos .g-unit {
  display: inline-block;
  overflow: auto;
}
.bread-com .primaryMain .z-info .c-pos .qg {
  display: inline-block;
  max-width: 4.75rem;
}
.bread-com .primaryMain .z-info .c-pos .gy {
  display: inline-block;
  max-width: 2.25rem;
}
.bread-com .primaryMain .z-info .c-pos .g-weight {
  display: inline-block;
  overflow: auto;
}
.bread-com .primaryMain .z-info .c-pos .g-agency {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #747474;
}
.bread-com .primaryMain .z-info .c-level {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  height: 2rem;
  line-height: 2rem;
}
.bread-com .primaryMain .z-info .c-level .c-l-price {
  width: 8.25rem;
}
.bread-com .primaryMain .z-info .c-level .c-l-weight {
  width: 4rem;
  text-align: right;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bread-com .primaryMain .z-info .c-level .g-level {
  height: 1.5rem;
  width: 1.25rem;
}
.bread-com .primaryMain .z-info .c-level .g-level .z-img {
  margin: 0.375rem 0.25rem;
}
.bread-com .primaryMain .z-info .c-level .g-level .z-img img {
  width: 0.75rem;
  height: 0.75rem;
  display: block;
}
.bread-com .primaryMain .z-info .c-level .g-price-com-f {
  color: #ff4535;
  font-size: 0.9rem;
  font-weight: 600;
}
.bread-com .primaryMain .z-info .c-level .g-unit {
  margin-left: 0.25rem;
  color: #ff4535;
  font-size: 0.6rem;
}
.bread-com .primaryMain .z-info .c-level .z-g-agency {
  margin-top: 0.25rem;
}
.bread-com .primaryMain .z-info .c-level .z-g-agency .z-g-d {
  font-size: 0.6rem;
  color: #ab842b;
  border: 0.05rem solid #ab842b;
  border-radius: 0.2rem;
}
.bread-com .primaryMain .z-info .c-level .z-g-person {
  width: 0.75rem;
}
.bread-com .primaryMain .z-info .c-level .z-g-name {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.6rem;
  color: #aab6c6;
  white-space: nowrap;
  max-width: 6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bread-com .primaryMain .z-info .c-level .g-text {
  height: 1.5rem;
  line-height: 1.5rem;
}
.bread-com .primaryMain .z-info .c-level .g-text p {
  font-size: 0.6rem;
  color: #aab6c6;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bread-com .primaryMain .z-info .c-level .g-star {
  margin-left: 0.75rem;
  width: 0.65rem;
  height: 0.5rem;
}
.bread-com .primaryMain .z-info .c-level .g-star-num {
  font-size: 0.6rem;
  color: #AAB6C6;
}
.bread-com .primaryMain .z-info .c-level .g-eye-h {
  margin-left: 0.25rem;
  width: 0.475rem;
  height: 0.475rem;
}
.bread-com .primaryMain .z-info .c-location {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.6rem;
  color: #969696;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.bread-com .primaryMain .z-info .c-location .c-loc-addr {
  width: 4.75rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bread-com .primaryMain .z-info .c-location .g-eye-num {
  font-size: 0.6rem;
  color: #AAB6C6;
  margin-left: 0.2rem;
}
.bread-com .primaryMain .z-info .c-location .c-loc-time {
  width: 4rem;
  text-align: center;
}
.bread-com .primaryMain .z-info .c-location .g-time {
  font-size: 0.6rem;
  color: #AAB6C6;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 3.5rem;
  text-align: right;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.bread-com .primaryMain .z-info .c-location .c-loc-view {
  width: 3.25rem;
  text-align: right;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.c-h-news {
  position: relative;
  width: 18.75rem;
  border-bottom: 0.05rem solid #f4f4f4;
  height: 2.3rem;
  line-height: 2.3rem;
}
.c-h-news .c-news-title {
  font-size: 0.8rem;
  color: #323232;
  margin-left: 0.75rem;
}
.c-h-news .c-news-title:before {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 0.75rem;
  background-color: #0ab58e;
  margin-right: 0.5rem;
  vertical-align: -0.1rem;
}
.c-h-news .c-news-more {
  position: absolute;
  top: 0;
  right: 1rem;
}
.c-h-news .c-sp {
  font-size: 0.6rem;
  color: #969696;
}
.c-h-news .c-img {
  height: 0.6rem;
  vertical-align: middle;
}
.c-gq-info {
  position: relative;
  width: 18.75rem;
  border-bottom: 0.05rem solid #f4f4f4;
  height: 2.3rem;
  line-height: 2.3rem;
  background-color: #fff;
}
.c-gq-info .c-gq-title {
  font-size: 0.8rem;
  color: #323232;
  margin-left: 0.75rem;
}
.c-gq-info .c-gq-title:before {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 0.75rem;
  background-color: #0ab58e;
  margin-right: 0.5rem;
  vertical-align: -0.1rem;
}
.button-tip {
  height: 2rem;
  line-height: 2rem;
  padding-bottom: 2.5rem;
  font-size: 0.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.c-z-c-tunef-blank {
  width: 18.75rem;
  height: 0.5rem;
  background-color: #f4f4f4;
  position: relative;
}
.c-z-c-tunef {
  width: 18.75rem;
  height: auto;
}
.c-z-c-tunef img {
  width: 100%;
  vertical-align: text-bottom;
}
.c-arc {
  position: relative;
  top: -0.45rem;
  width: 18.75rem;
  height: 0.45rem;
  z-index: 99;
}
.c-arc img {
  width: 18.75rem;
  height: 0.45rem;
  display: block;
}
.c-sign {
  width: 18.75rem;
  padding: 0.5rem 0 0;
  height: 3.85rem;
  background-color: #f4f4f4;
  position: relative;
}
.c-sign .c-sign-content {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.c-sign-c-img {
  width: 6rem;
  height: 100%;
  line-height: 3.85rem;
}
.c-sign-c-img img {
  margin-left: 0.5rem;
  width: 5.5rem;
  vertical-align: middle;
}
.c-sign-c-text {
  width: 8rem;
  height: 100%;
}
.c-sign-c-btn {
  width: 4.75rem;
  height: 100%;
}
.c-sign-c-btn-text {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  width: 4.25rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background: url('../img/homeBtn.png');
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
}
.c-sign-c-content {
  margin: 0.2rem 1rem 0 0;
  height: 3.65rem;
  width: 7rem;
}
.c-sign-pcom {
  text-align: right;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.c-sign-cc-first {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #FF4535;
}
.c-sign-cc-second {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #646464;
}
.c-sign-cc-three {
  line-height: 1.4rem;
  font-size: 0.6rem;
  color: #323232;
}
.c-news {
  margin: 0 0.5rem;
  position: relative;
  width: 17.75rem;
  height: 3rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.c-news-logo {
  width: 2rem;
  background: url('../img/logoNews.png') no-repeat center;
  background-size: 2rem auto;
}
.c-news-msg {
  padding: 0.35rem 0 0 0.25rem;
  width: 15.25rem;
}
.c-news-rotate {
  width: 100%;
  height: 2.2rem;
  overflow: hidden;
}
.c-home-active {
  position: relative;
  width: 18.75rem;
  height: 5.55rem;
  background: #f4f4f4;
  overflow: hidden;
}
.c-home-greyBlock {
  position: relative;
  height: 0.5rem;
  width: 18.75rem;
  background: #f4f4f4;
}
.c-blankbg {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 33.35rem;
  background: #fff;
  z-index: -1;
}
.c-home-page {
  background: #fff;
}
.c-home-content {
  margin-bottom: 1rem;
}
