p {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.z-header-T1 {
  width: 17.75rem;
  padding: 0.35rem 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #f4f4f4;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-header-T1 .z-write {
  width: 13rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 1rem;
  border-radius: 0.75rem;
  background-color: #fff;
}
.z-header-T1 .z-write input {
  width: 10.5rem;
  font-size: 0.75rem;
  color: #323232;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  vertical-align: top;
}
.z-header-T1 .z-write .x-del {
  display: inline-block;
  height: 1.5rem;
  width: 0.7rem;
  background: url("../img/cancel.png") no-repeat center;
  background-size: 0.7rem 0.7rem;
  vertical-align: top;
}
.z-header-T1 .retT img {
  width: 0.55rem;
  height: 0.975rem;
  vertical-align: text-top;
}
.z-header-T1 .z-s {
  width: 2.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-left: 0.5rem;
  color: #fff;
  background-color: #27cba8;
  border-radius: 0.75rem;
  text-align: center;
}
.z-column-com {
  width: 17.5rem;
  padding: 0.5rem 0.5rem;
}
.z-column-com .z-text-com {
  float: left;
  font-size: 0.75rem;
  color: #323232;
}
.z-column-com .del-com {
  float: right;
  height: 0.8rem;
  width: 0.85rem;
  text-align: center;
}
.z-column-com .del-com img {
  width: 0.8rem;
  height: 0.85rem;
  display: block;
}
.z-column-com .z-list-com ul {
  padding: 0.25rem 0;
}
.z-column-com .z-list-com ul .li-com-two {
  float: left;
  height: 1.25rem;
  padding: 0 0.5rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  color: #999;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: #f4f4f4;
}
