.button-tip-A {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.c-z-pullup-A-text span {
  font-size: 0.7rem;
  color: #646464;
  letter-spacing: 0.05rem;
}
.c-z-pullup-A {
  height: 2rem;
  width: 7rem;
}
.c-pullupIcon {
  display: block;
  width: 2rem;
  height: 100%;
  margin: auto;
}
.loading .c-animation {
  display: block;
  width: 2rem;
  height: 100%;
  background: url("../img/pull-icon.png") 50% 100% no-repeat;
  background-size: 2rem 4rem;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  animation: loading;
  -webkit-animation: loading;
  /* Safari 和 Chrome */
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /* Safari 和 Chrome */
  -webkit-animation-timing-function: linear;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
.c-z-pullup-A-text span {
  font-size: 0.7rem;
  color: #646464;
  letter-spacing: 0.05rem;
}
.flip .c-animation {
  background: url("../img/pull-icon.png") 0 100% no-repeat;
  background-size: 2rem 4rem;
  -webkit-transform: rotate(-180deg) translateZ(0);
}
.c-z-pullup-text {
  position: relative;
}
.refresh {
  padding-bottom: 0!important;
}
@keyframes loading {
  from {
    transform: rotate(0deg) translateZ(0);
  }
  to {
    transform: rotate(360deg) translateZ(0);
  }
}
@-moz-keyframes loading {
  /* Firefox */
  from {
    -moz-transform: rotate(0deg) translateZ(0);
  }
  to {
    -moz-transform: rotate(360deg) translateZ(0);
  }
}
@-webkit-keyframes loading {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.button-tip-A .showVisableA {
  visibility: hidden;
}
