.c-personHot {
  padding-top: 0.6rem;
  height: 2.25rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.c-personHot .c-pH-com {
  width: 5.875rem;
  font-size: 0.6rem;
}
.c-personHot .c-pH-com .c-pH-number {
  font-weight: bold;
  font-size: 0.8rem;
}
.c-personHot .c-pH-com p {
  text-align: center;
}
.c-personHot .c-pH-com .c-pH-textsy {
  line-height: 1.25rem;
}
