.z-p-info-header {
  padding: 0 0.625rem;
  position: relative;
  width: 17.5rem;
  height: 2.2rem;
  text-align: center;
  color: #323232;
  line-height: 2.2rem;
  background-color: #f4f4f4;
}
.z-p-info-header h1 {
  font-size: 0.8rem;
}
.z-p-info-header .z-title-T {
  font-size: 0.8rem;
  color: #323232;
}
.z-p-info-header .return {
  position: absolute;
  top: 0;
}
.z-p-info-header .return img {
  width: 0.55rem;
  height: 0.975rem;
  vertical-align: sub;
}
.person-info-page {
  overflow: auto;
}
.person-info-page .p-v-bg {
  position: relative;
  height: 2.25rem;
}
.person-info-page .p-v-bg .p-v-bg-text {
  line-height: 2.25rem;
  margin-left: 0.75rem;
  font-size: 0.7rem;
  color: #969696;
}
.person-info-page .p-v-bg .p-v-bg-upload {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18.75rem;
  height: 2.25rem;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.person-info-page .arrow-com {
  position: absolute;
  top: 0.85rem;
  right: 0.5rem;
  width: 0.3rem;
  height: 0.55rem;
}
.person-info-page .arrow-img {
  position: relative;
  width: 0.3rem;
  height: 0.55rem;
  vertical-align: middle;
  margin-left: 0.25rem;
}
.person-info-page .z-p-description {
  position: relative;
}
.person-info-page .z-p-description .z-p-text {
  margin-left: 0.75rem;
  font-size: 0.8rem;
  line-height: 2.25rem;
  color: #323232;
}
.person-info-page .z-p-description textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.75rem;
  height: 3.75rem;
  border: none;
  font-size: 0.75rem;
  outline: none;
  resize: none;
  padding-left: 0.75rem;
  color: #646464;
  background-color: #fff;
}
.person-info-page .z-des-img {
  color: #969696;
  padding-bottom: 2.5rem;
}
.person-info-page .z-des-img .z-des-img-text {
  padding-left: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.person-info-page .z-des-img .z-add-upload {
  width: 5rem;
  background: url("../img/add-9.png") no-repeat center;
  background-size: 5rem 5rem;
}
.person-info-page .z-des-img .z-add-upload input {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.person-info-page .z-des-img ul li {
  float: left;
  height: 5rem;
}
.person-info-page .z-p-identity {
  border-bottom: 0.05rem solid #f4f4f4;
  margin-left: 0.75rem;
}
.person-info-page .z-p-identity .z-p-identity-text {
  line-height: 2.25rem;
  font-size: 0.7rem;
  color: #c5bfbf;
}
.person-info-page .z-p-identity .z-ul {
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
}
.person-info-page .z-p-identity .z-ul .z-p-id-li-com {
  line-height: 1.25rem;
  float: left;
  margin-right: 0.5rem;
}
.person-info-page .z-p-identity .z-ul .z-p-id-li-com .z-p-id-li-ct {
  padding: 0.2rem;
  font-size: 0.7rem;
  color: #969696;
  border: 0.05rem solid #7e7e7e;
  border-radius: 0.25rem;
}
.person-info-page .z-p-identity .z-ul .z-p-id-li-com .activeL {
  color: #2fcaa7;
  border-color: #2fcaa7;
}
.person-info-page .z-p-warehouse {
  border-bottom: 0.05rem solid #f4f4f4;
  margin-left: 0.75rem;
  line-height: 2.25rem;
  font-size: 0.75rem;
  color: #969696;
}
.person-info-page .z-p-warehouse input {
  font-size: 0.75rem;
  height: 1rem;
  width: 12.5rem;
  margin-left: 0.5rem;
  color: #646464;
  background-color: transparent;
}
.person-info-page .z-p-storageCapacity {
  border-bottom: 0.05rem solid #f4f4f4;
  margin-left: 0.75rem;
  line-height: 2.25rem;
  font-size: 0.75rem;
  color: #969696;
}
.person-info-page .z-p-storageCapacity input {
  font-size: 0.75rem;
  width: 12.5rem;
  margin-left: 0.5rem;
  height: 1rem;
  color: #646464;
  background-color: transparent;
}
.person-info-page .c-commit {
  position: fixed;
  bottom: 0;
  width: 18.75rem;
  height: 2.45rem;
  line-height: 2.45rem;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  background-color: #2fcaa7 ;
}
.person-info-page .clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.person-info-page .c-pos-r {
  text-align: right;
}
.person-info-page .c-com-w {
  width: 14.25rem;
  display: inline-block;
  text-align: right;
  color: #646464;
}
.person-info-page .c-p-sale {
  margin-left: 0.75rem;
  line-height: 2.25rem;
  font-size: 0.75rem;
  color: #969696;
}
.person-info-page .c-p-sale input {
  font-size: 0.75rem;
  height: 1rem;
  width: 12.5rem;
  margin-left: 0.5rem;
  color: #646464;
  background-color: transparent;
}
.person-info-page .c-p-manage {
  margin-left: 0.75rem;
  line-height: 2.25rem;
  font-size: 0.75rem;
  color: #969696;
}
.person-info-page .c-p-manage input {
  font-size: 0.75rem;
  height: 1rem;
  width: 12.5rem;
  margin-left: 0.5rem;
  color: #646464;
  background-color: transparent;
}
.person-info-page .c-sp-area {
  width: 12.75rem;
  display: inline-block;
  text-align: right;
  color: #646464;
}
.person-info-page .c-z-space-RT {
  height: 2.5rem;
  width: 18.75rem;
  background-color: #fff;
}
.person-info-page .label {
  color: #323232;
  font-size: 0.8rem;
}
.person-info-page .c-z-t-name {
  font-size: 0.75rem;
  height: 1rem;
  width: 13.8rem;
  margin-left: 0.5rem;
  color: #646464;
  background-color: transparent;
  text-align: right;
}
