.z-p-home {
  background-color: #fff;
  width: 18.75rem;
  position: relative;
}
.z-p-home .z-header-person-h {
  padding: 0 0.625rem;
  position: absolute;
  top: 0;
  width: 17.5rem;
  height: 2.375rem;
  line-height: 2.375rem;
}
.z-p-home .z-header-person-h img {
  width: 0.625rem;
  height: 1rem;
  vertical-align: middle;
}
.z-p-home .z-p-banner {
  width: 18.75rem;
  height: auto;
  position: relative;
}
.z-p-home .z-p-banner .z-banner-img img {
  display: block;
  width: 18.75rem;
  height: 8.125rem;
}
.z-p-home .z-p-banner .z-canmer {
  position: absolute;
  left: 0.5rem;
  bottom: 0.75rem;
  width: 1.65rem;
  height: 1.1rem;
  background: url("../img/c.png") no-repeat center;
  background-size: 1.65rem 1.1rem;
}
.z-p-home .z-p-banner .z-canmer .z-imgInput {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.z-p-home .z-p-banner .z-h-t {
  position: absolute;
  right: 2rem;
  bottom: -2rem;
  width: 3.6rem;
  height: 3.6rem;
  border: 0.05rem solid #f4f4f4;
  border-radius: 100%;
}
.z-p-home .z-p-banner .z-h-t img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.z-p-home .z-p-info {
  width: 17.75rem;
  padding: 1rem 0.5rem 0;
  line-height: 2.5rem;
}
.z-p-home .z-p-info .z-p-name {
  font-size: 1.05rem;
  color: #323232;
  font-weight: bold;
}
.z-p-home .z-p-info .z-p-agency {
  font-size: 0.7rem;
  color: #28cba5;
  padding: 0 0.15rem;
  border: 0.05rem solid #28cba5;
  border-radius: 0.1rem;
}
.z-p-home .z-p-info .z-p-real {
  font-size: 0.7rem;
  color: #28cba5;
  border: 0.05rem solid #28cba5;
  border-radius: 0.1rem;
  padding: 0 0.05rem;
}
.z-p-home .z-p-info .z-p-level {
  margin-left: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  vertical-align: middle;
}
.z-p-home .z-space {
  width: 18.75rem;
  height: 0.05rem;
  background-color: #f4f4f4;
  margin-bottom: 0.75rem;
}
.z-p-home .c-z-kg {
  width: 18.75rem;
  height: 0.5rem;
  background-color: #f4f4f4;
}
.z-p-home .z-p-concat {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  margin: 0.5rem 0 0.5rem;
}
.z-p-home .z-p-concat .z-p-notice {
  width: 3.75rem;
}
.z-p-home .z-p-concat .z-p-browse {
  width: 3.75rem;
}
.z-p-home .z-p-concat .z-p-c {
  width: 3.75rem;
}
.z-p-home .z-p-concat .z-p-economy {
  width: 6.25rem;
}
.z-p-home .z-p-concat .z-p-economy .z-p-economy-text {
  font-size: 0.7rem;
  border: 0.05rem solid #ff0000;
  color: red;
  border-radius: 0.15rem;
}
.z-p-home .z-p-concat .z-common-t {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: bold;
  text-align: center;
}
.z-p-home .z-p-concat .z-common-t2 {
  font-size: 0.6rem;
  line-height: 1rem;
  color: #747474;
  text-align: center;
}
.z-p-home .z-p-manage-info {
  line-height: 2.3rem;
  margin-left: 0.5rem;
}
.z-p-home .z-p-manage-info .z-p-cold {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
  color: #323232;
}
.z-p-home .z-p-manage-info .z-p-c-storage {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-c-cooperative {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-area {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-cmarket {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-area {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-pz {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-transship {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info .z-p-sale {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-home .z-p-manage-info input {
  width: 12.5rem;
  height: 1rem;
  font-size: 0.8rem;
  text-align: right;
  background-color: transparent;
  color: #646464;
}
.z-p-home .z-p-manage-info .img-com {
  width: 0.95rem;
  height: 0.95rem;
  margin-right: 0.25rem;
  vertical-align: sub;
}
.z-p-home .z-description {
  position: relative;
}
.z-p-home .z-description .z-p-edit-save {
  line-height: 2.3rem;
  padding-left: 0.5rem;
}
.z-p-home .z-description .z-p-edit-save .z-p-text {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.z-p-home .z-description .z-p-edit-save .img-com {
  width: 0.95rem;
  height: 0.95rem;
  margin-right: 0.25rem;
  vertical-align: sub;
}
.z-p-home .z-description textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.25rem;
  height: 3.75rem;
  border: none;
  font-size: 0.75rem;
  outline: none;
  resize: none;
  margin-left: 0.5rem;
}
.z-p-home .z-description .z-edit-p {
  height: 3.75rem;
  font-size: 0.75rem;
  margin-left: 2rem;
  color: #919191;
}
.z-p-home .z-description .z-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: url("../img/edit.png") no-repeat center;
  background-size: 2rem 2rem;
}
.z-p-home .z-des-img .z-des-img-text {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
.z-p-home .z-des-img .z-add-upload {
  width: 5rem;
  background: url("../img/add-9.png") no-repeat center;
  background-size: 5rem 5rem;
}
.z-p-home .z-des-img .z-add-upload input {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.z-p-home .z-des-img ul li {
  float: left;
  height: 5rem;
}
.z-p-home .z-transship-ret .z-transship-title {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  color: #323232;
}
.z-p-home .z-transship-ret .z-transship-title:before {
  content: "";
  width: 0.2rem;
  height: 0.75rem;
  background-color: #ff8400;
  display: inline-block;
  margin: 0 0.75rem 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-p-home .z-transship-ret .z-transship-num {
  background: #fff;
  padding: 0.5rem 0 1rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-p-home .z-transship-ret .z-transship-num .z-r-totalW {
  width: 9.25rem;
  height: 2.5rem;
}
.z-p-home .z-transship-ret .z-transship-num .z-vertical-line {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 0.25rem;
}
.z-p-home .z-transship-ret .z-transship-num .z-vertical-line .z-v-line {
  display: inline-block;
  width: 0.05rem;
  height: 1.5rem;
  background-color: #f4f4f4;
  vertical-align: middle;
}
.z-p-home .z-transship-ret .z-transship-num .z-r-rank {
  width: 9.25rem;
  height: 2.5rem;
}
.z-p-home .z-transship-ret .z-transship-num .z-r-s-com {
  font-size: 0.975rem;
  font-weight: bold;
  color: #f36e44;
  line-height: 1.25rem;
}
.z-p-home .z-transship-ret .z-transship-num p {
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.25rem;
  height: 1.25rem;
}
.z-p-home .z-num-main .z-num-main-t {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  color: #323232;
}
.z-p-home .z-num-main .z-num-main-t:before {
  content: "";
  width: 0.2rem;
  height: 0.75rem;
  background-color: #27cba8;
  display: inline-block;
  margin: 0 0.75rem 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-p-home .z-num-main .z-p-main {
  width: 18.75rem;
  height: 12rem;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.c-test {
  position: fixed;
  top: 50%;
  width: 18.75rem;
  height: 2rem;
  background-color: red;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.c-test .c-t-com {
  width: 3.75rem;
  color: #fff;
  text-align: center;
}
.box-shadowIn {
  -moz-box-shadow: 1000px 1000px 100px 100px #fff inset;
  /*firefox*/
  -webkit-box-shadow: 1000px 1000px 100px 100px #fff inset;
  /*webkit*/
  box-shadow: 1000px 1000px 100px 100px #fff inset;
}
