/*
* 积分榜
* created by gsy on 2017/9/08
*/
#rankBox .rankFix {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
#rankBox .rankBanner {
  width: 18.75rem;
  height: 7.25rem;
  background: url("../../assets/img/rateBj.png") no-repeat center;
  background-size: contain;
  color: #fff;
  /*padding: 3rem 0 0 2.3rem;*/
  position: relative;
}
#rankBox .rankBanner span {
  position: absolute;
  /*top:32/@rem;
      left:20/@rem;*/
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0;
}
#rankBox .rankBanner span img {
  margin-left: 0.5rem;
  margin-top: 0.8rem;
  width: 0.4rem;
  height: 0.7rem;
}
#rankBox .rankBanner h1 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.1rem;
}
#rankBox .rankBanner h2 {
  font-size: 0.725rem;
  line-height: 0.725rem;
  letter-spacing: 0.1rem;
}
#rankBox .rankTab {
  width: 100%;
  background-color: #FC8C01;
}
#rankBox .rankTab li {
  width: 50%;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 0;
}
#rankBox .rankTab li > a {
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
}
#rankBox .rankTab li i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#rankBox .rankTab li .triangle {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 0.475rem;
  border-color: transparent transparent #FC8C01 transparent;
  border-style: dashed dashed solid dashed;
}
#rankBox .rankTab li .white {
  border-color: transparent transparent #fff transparent;
}
#rankBox .scrollWrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#rankBox .rankContent {
  background-color: #fff;
}
#rankBox .rankContent dd {
  display: flex;
  flex-direction: row;
  height: 3.475rem;
}
#rankBox .rankContent dd .orderNum {
  width: 2.325rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rankBox .rankContent dd .orderNum img {
  width: 1.3rem;
  height: 1.3rem;
}
#rankBox .rankContent dd .orderNum i {
  font-style: normal;
  font-size: 0.65rem;
}
#rankBox .rankContent dd .rContent {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
#rankBox .rankContent dd .rContent .headPhoto {
  display: inline-block;
  margin-right: 0.5rem;
}
#rankBox .rankContent dd .rContent .headPhoto img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}
#rankBox .rankContent dd .rContent .name,
#rankBox .rankContent dd .rContent .totalNum {
  font-size: 0.75rem;
}
#rankBox .rankContent dd .rContent .totalNum {
  color: #2fcaa7;
  margin-right: 0.275rem;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}
#rankBox .rankContent dd .rContent .totalNum i {
  font-style: normal;
}
#rankBox .rankContent .ddLast {
  border-bottom: 0 none;
  justify-content: center;
  font-size: 0.7rem;
  color: #646464;
  letter-spacing: 0.05rem;
  padding: 1rem 0;
  height: 1.5rem;
}

.c-upload-menu{
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #00c850;
  background: url("../img/billIcon.png") no-repeat center;
  background-size: 100% 100%;
}
