/*
* 积分榜
* created by gsy on 2017/9/08
*/
#rankBox .rankFix {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
#rankBox .rankFix .rankBanner {
  height: 4.225rem;
  background: #2fcaa7 url("../../assets/img/rateBj.png") no-repeat center;
  background-size: contain;
  color: #fff;
  padding: 3rem 0 0 2.3rem;
  position: relative;
}
#rankBox .rankFix .rankBanner img {
  position: absolute;
  width: 0.4rem;
  height: 0.7rem;
  top: 0.8rem;
  left: 0.75rem;
}
#rankBox .rankFix .rankBanner h1 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.1rem;
}
#rankBox .rankFix .rankBanner h2 {
  font-size: 0.725rem;
  line-height: 0.725rem;
  letter-spacing: 0.1rem;
}
#rankBox .rankFix .rankTab {
  width: 100%;
  background-color: #0AB58E;
}
#rankBox .rankFix .rankTab li {
  width: 50%;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 0;
}
#rankBox .rankFix .rankTab li > a {
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
}
#rankBox .rankFix .rankTab li i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#rankBox .rankFix .rankTab li .triangle {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 0.475rem;
  border-color: transparent transparent #0AB58E transparent;
  border-style: dashed dashed solid dashed;
}
#rankBox .rankFix .rankTab li .white {
  border-color: transparent transparent #fff transparent;
}
#rankBox .scrollWrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 9.75rem;
  bottom: 0;
  overflow: hidden;
}
#rankBox .scrollWrapper .rankContent {
  background-color: #fff;
}
#rankBox .scrollWrapper .rankContent dd {
  display: flex;
  flex-direction: row;
  height: 3.475rem;
}
#rankBox .scrollWrapper .rankContent dd .orderNum {
  width: 2.325rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rankBox .scrollWrapper .rankContent dd .orderNum img {
  width: 1.3rem;
  height: 1.3rem;
}
#rankBox .scrollWrapper .rankContent dd .orderNum i {
  font-style: normal;
  font-size: 0.65rem;
}
#rankBox .scrollWrapper .rankContent dd .rContent {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
#rankBox .scrollWrapper .rankContent dd .rContent .headPhoto {
  display: inline-block;
  margin-right: 0.5rem;
}
#rankBox .scrollWrapper .rankContent dd .rContent .headPhoto img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}
#rankBox .scrollWrapper .rankContent dd .rContent .name,
#rankBox .scrollWrapper .rankContent dd .rContent .totalNum {
  font-size: 0.75rem;
}
#rankBox .scrollWrapper .rankContent dd .rContent .totalNum {
  color: #2fcaa7;
  margin-right: 0.275rem;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}
#rankBox .scrollWrapper .rankContent dd .rContent .totalNum i {
  font-style: normal;
}
