.c-z-roll {
  width: 18.75rem;
  height: 100%;
  position: relative;
}
.c-z-roll .c-z-r-v-w {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.c-z-roll .c-z-r-v-w .c-z-r-img {
  width: 18.75rem;
  position: relative;
  height: auto;
  vertical-align: middle;
  margin-left: 1rem;
  line-height: 0;
  font-size: 0;
}
.c-z-roll .c-z-r-v-w .c-z-c-img {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  line-height: 33.35rem;
  font-size: 0;
}
.c-z-roll .c-z-r-record {
  width: 18.75rem;
  position: fixed;
  bottom: 5rem;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.75rem;
  color: #323232;
  letter-spacing: 0.1rem;
}
.c-z-roll .c-z-r-real {
  margin: 0 1.5rem 0 0.5rem;
  height: 100%;
  position: relative;
  left: -1.5rem;
  line-height: 33.35rem;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 10000;
  -moz-perspective: 10000;
  -ms-perspective: 10000;
  perspective: 10000;
  transition: all 200ms;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
