.z-person .z-p-head-t {
  padding: 0 0.625rem;
  position: absolute;
  width: 17.5rem;
  height: 2.375rem;
  line-height: 2.375rem;
  z-index: 99;
}
.z-person .z-p-head-t h1 {
  font-size: 1rem;
}
.z-person .z-p-head-t .return-t {
  position: relative;
  top: 0;
}
.z-person .z-p-head-t .return-t img {
  width: 0.55rem;
  height: 0.975rem;
  vertical-align: middle;
}
.z-person .z-bannerImg {
  width: 18.75rem;
  height: auto;
  position: relative;
}
.z-person .z-bannerImg img {
  width: 100%;
  height: 8.125rem;
  display: block;
}
.z-person .z-bannerImg .z-head-portrait {
  position: absolute;
  bottom: -2rem;
  right: 1.5rem;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border: 0.05rem solid #969696;
  border-radius: 100%;
}
.z-person .z-p-info {
  margin-top: 1rem;
}
.z-person .z-p-info .c-t-info {
  line-height: 2.75rem;
  height: 2.75rem;
}
.z-person .z-p-info .z-p-flag {
  padding-top: 1rem;
}
.z-person .z-p-info .z-p-name {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #242424;
}
.z-person .z-p-info .z-cold-name {
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  width: 8.375rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.z-person .z-p-info .c-p-tx {
  font-size: 0.7rem;
  color: #fd9e24;
  border: 0.05rem solid #fd9e24;
  border-radius: 0.1rem;
  vertical-align: top;
}
.z-person .z-p-info .z-p-real {
  font-size: 0.7rem;
  border: 0.05rem solid #28cba5;
  color: #28cba5;
  border-radius: 0.125rem;
}
.z-person .z-p-info .c-p-c-real {
  vertical-align: top;
}
.z-person .z-p-info .z-p-level {
  padding-left: 0.5rem;
  width: 0.85rem;
  height: 0.85rem;
  vertical-align: middle;
}
.z-person .z-p-info .z-p-represent {
  margin: 0 0.2rem;
  padding: 0 0.1rem;
  border: 0.05rem solid #28cba5;
  border-radius: 0.125rem;
  font-size: 0.7rem;
  color: #28cba5;
}
.z-person .z-p-info .z-p-x-agency {
  display: none;
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 2.5rem;
}
.z-person .z-p-info .z-p-path {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-person .z-p-info .z-p-path .z-p-part {
  width: 3.75rem;
  font-size: 0.7rem;
}
.z-person .z-p-info .z-p-path .z-p-part .z-p-number {
  font-weight: bold;
  font-size: 0.8rem;
}
.z-person .z-p-info .z-p-path .z-p-part p {
  line-height: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
.z-person .z-p-info .z-p-path .z-p-part span {
  vertical-align: 0.15rem;
}
.z-person .z-p-info .z-p-path .z-p-follow {
  width: 7.5rem;
  height: 3rem;
  font-size: 0.7rem;
  position: relative;
}
.z-person .z-p-info .z-p-path .z-p-follow .z-p-f {
  width: 4.2rem;
  margin: auto;
  margin-top: 1.25rem;
  border: 0.05rem solid #000000;
  line-height: 1.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}
.z-person .z-p-info .z-p-path .z-p-follow .active {
  color: #0ecb5d;
}
.z-person .z-p-des {
  margin-left: 0.5rem;
}
.z-person .z-p-des .z-p-des-icon {
  padding-right: 0.25rem;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: sub;
}
.z-person .z-p-des .z-p-des-w {
  font-size: 0.85rem;
  height: 2.3rem;
  line-height: 2.3rem;
  border-bottom: 0.05rem solid #d7d7d7;
}
.z-person .z-p-des .z-p-des-w .z-x-sp-com {
  color: #323232;
}
.z-person .z-p-des .z-p-des-w input {
  width: 12.5rem;
  height: 1.05rem;
  font-size: 0.85rem;
  vertical-align: 0.05rem;
  text-align: right;
  color: #646464;
}
.z-person .z-p-des .z-p-des-content {
  padding: 0 1.6rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  color: #646464;
  margin-bottom: 1rem;
}
.z-space {
  width: 18.75rem;
  height: 0.05rem;
  background-color: #d7d7d7;
}
.z-space-com {
  width: 18.75rem;
  height: 0.05rem;
  background-color: #d7d7d7;
}
.c-space-t {
  width: 100%;
}
.z-transaction .z-h4-title {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  color: #323232;
}
.z-transaction .z-h4-title:before {
  content: "";
  width: 0.2rem;
  height: 0.85rem;
  background-color: #ff8400;
  display: inline-block;
  margin: 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-transaction .z-transaction-results {
  background: #fff;
  padding: 0.75rem 0 0.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-transaction .z-transaction-results .z-r-totalW {
  width: 9.25rem;
}
.z-transaction .z-transaction-results .z-r-rank {
  width: 9.25rem;
}
.z-transaction .z-transaction-results .z-vertical-line {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 0.25rem;
}
.z-transaction .z-transaction-results .z-vertical-line .z-v-line {
  display: inline-block;
  width: 0.05rem;
  height: 1.5rem;
  background-color: #7e7e7e;
  vertical-align: middle;
}
.z-transaction .z-transaction-results .z-r-s-com {
  font-size: 0.95rem;
  color: #f36e44;
  font-weight: bold;
  line-height: 1.25rem;
}
.z-transaction .z-transaction-results p {
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.25rem;
  height: 1.25rem;
}
.z-num-main .z-num-main-t {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  color: #323232;
}
.z-num-main .z-num-main-t:before {
  content: "";
  width: 0.2rem;
  height: 0.85rem;
  background-color: #27cba8;
  display: inline-block;
  margin: 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-num-main .Zmain {
  width: 18.75rem;
  height: 15rem;
  margin: auto;
}
.z-phone {
  width: 18.75rem;
  position: fixed;
  bottom: 0;
  border-bottom: 0;
  background-color: #2fcaa7;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  z-index: 99;
}
.z-phone a {
  color: #fff;
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: 100%;
}
.z-p-gy {
  position: relative;
  width: 18.75rem;
  min-height: 5rem;
  line-height: 2.3rem;
  z-index: 0;
}
.z-p-gy .c-gy-v {
  border-bottom: 0.05rem solid #d7d7d7;
}
.z-p-gy .c-p-gy-x {
  height: 2rem;
  line-height: 2rem;
  color: #323232;
  font-size: 0.8rem;
}
.z-p-gy .c-p-gy-x:before {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 0.85rem;
  background-color: #ff4535;
  margin: 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-cold-mobile {
  display: block;
  width: 18.75rem;
  overflow: auto;
  max-height: 15rem;
  position: relative;
  top: -8.15rem;
  background-color: #fff;
}
.z-cold-mobile .c-text {
  height: 2.3rem;
  line-height: 2.3rem;
  font-size: 0.8rem;
  color: #323232;
}
.z-cold-mobile .c-com {
  height: 3.55rem;
  line-height: 3.55rem;
  font-size: 0.8rem;
  color: #323232;
  display: block;
  text-align: initial;
}
.z-cold-mobile .c-com .c-sp-text {
  width: 8.75rem;
  display: inline-block;
}
.z-cold-mobile .c-cancel {
  height: 2.45rem;
  line-height: 2.45rem;
  font-size: 0.8rem;
  color: #323232;
}
.z-cold-mobile .c-img-com {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 1rem 0 1.5rem;
  vertical-align: middle;
}
.z-cold-mobile .c-m-icon-com {
  width: 0.85rem;
  height: 0.85rem;
  vertical-align: middle;
}
.Cshow {
  display: none;
}
.c-border-none {
  border: none !important;
}
.c-gq-list {
  margin-bottom: 2rem;
}
.z-space-h {
  height: 0.5rem;
  width: 100%;
  background-color: #f3f3f3;
}
