.z-person .z-p-head-t {
  padding: 0 0.625rem;
  position: absolute;
  width: 17.5rem;
  height: 2.375rem;
  line-height: 2.375rem;
  z-index: 99;
}
.z-person .z-p-head-t h1 {
  font-size: 1rem;
}
.z-person .z-p-head-t .return-t {
  position: relative;
  top: 0;
}
.z-person .z-p-head-t .return-t img {
  width: 0.55rem;
  height: 0.975rem;
  vertical-align: middle;
}
.z-person .z-bannerImg {
  position: relative;
  width: 18.75rem;
  height: 8rem;
}
.z-person .z-bannerImg-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.z-person .z-bannerImg-picture-mask {
  width: 100%;
  height: 8.5rem;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  background-color: #323232;
}
.z-person .z-bannerImg-bg {
  width: 18.75rem;
  height: 8rem;
  -webkit-filter: blur(0.4rem);
  /* Chrome, Opera */
  -moz-filter: blur(0.4rem);
  -ms-filter: blur(0.4rem);
  filter: blur(0.4rem);
  vertical-align: text-bottom;
}
.z-person .z-bannerImg-personPicture {
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  text-align: center;
}
.z-person .z-bannerImg-img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  display: block;
  margin: auto;
}
.z-person .z-bannerImg-text {
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0;
}
.z-person .z-p-info {
  margin-top: 0.5rem;
}
.z-person .z-p-info .c-t-info {
  line-height: 2.75rem;
  height: 2.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-person .z-p-info .c-t-info .z-p-name-dot {
  max-width: 8.75rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.z-person .z-p-info .c-t-info .c-t-level {
  width: 1.25rem;
  text-align: center;
}
.z-person .z-p-info .c-t-info .c-t-represent {
  width: 2.5rem;
}
.z-person .z-p-info .c-t-info .c-t-real-t {
  width: 3rem;
}
.z-person .z-p-info .c-t-info .c-cold-real {
  width: 9.75rem;
  padding-left: 0.25rem;
}
.z-person .z-p-info .z-p-flag {
  padding-top: 1rem;
}
.z-person .z-p-info .z-p-name {
  line-height: 0.75rem;
  border-radius: 0.1rem;
  font-size: 0.6rem;
  color: #fff;
  border: 0.05rem solid #fd9e24;
  background-color: #FD9E24;
}
.z-person .z-p-info .z-p-authentication {
  line-height: 0.75rem;
  border-radius: 0.1rem;
  font-size: 0.6rem;
  color: #40CDAC;
  border: 0.05rem solid #40cdac;
}
.z-person .z-p-info .z-p-coor {
  line-height: 0.75rem;
  border-radius: 0.1rem;
  font-size: 0.6rem;
  color: #fd9e24;
  border: 0.05rem solid #fd9e24;
}
.z-person .z-p-info .z-p-real {
  line-height: 0.75rem;
  font-size: 0.6rem;
  border: 0.05rem solid #28cba5;
  color: #28cba5;
  border-radius: 0.1rem;
}
.z-person .z-p-info .z-cold-name {
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  width: 8.375rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.z-person .z-p-info .c-p-tx {
  font-size: 0.7rem;
  color: #fd9e24;
  border: 0.05rem solid #fd9e24;
  border-radius: 0.1rem;
  vertical-align: top;
}
.z-person .z-p-info .c-p-c-real {
  vertical-align: top;
}
.z-person .z-p-info .z-p-level {
  padding-left: 0.5rem;
  width: 0.85rem;
  height: 0.85rem;
  vertical-align: middle;
}
.z-person .z-p-info .z-p-represent {
  margin: 0 0.2rem;
  padding: 0 0.1rem;
  border: 0.05rem solid #28cba5;
  border-radius: 0.125rem;
  font-size: 0.7rem;
  color: #28cba5;
}
.z-person .z-p-info .z-p-x-agency {
  display: none;
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 2.5rem;
}
.z-person .z-p-info .z-p-path {
  padding-top: 0.6rem;
  height: 2.25rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-person .z-p-info .z-p-path .z-p-part {
  width: 5.875rem;
  font-size: 0.6rem;
}
.z-person .z-p-info .z-p-path .z-p-part .z-p-number {
  font-weight: bold;
  font-size: 0.8rem;
}
.z-person .z-p-info .z-p-path .z-p-part p {
  text-align: center;
}
.z-person .z-p-info .z-p-path .z-p-part .z-p-style {
  line-height: 1.25rem;
}
.z-person .z-p-info .z-p-path-line {
  margin: auto;
  width: 17.75rem;
  height: 0.05rem;
  background-color: #f4f4f4;
}
.z-person .z-p-info .c-p-introduce {
  padding-left: 0.5rem;
  width: 18.25rem;
}
.z-person .z-p-info .c-p-intro-com {
  width: 18.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  font-size: 0.75rem;
  border-bottom: 0.05rem solid #f4f4f4;
  color: #646464;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-person .z-p-info .c-p-intro-com:nth-last-child(1) {
  border-bottom: none;
}
.z-person .z-p-info .c-p-intro-label {
  width: 3.75rem;
}
.z-person .z-p-info .c-p-intro-text {
  width: 14.5rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.z-person .z-p-info .z-p-sign-text {
  font-size: 0.6rem;
  color: #646464;
}
.z-person .z-p-info .c-p-label-color {
  color: #323232;
}
.z-person .z-p-des {
  margin-left: 0.5rem;
}
.z-person .z-p-des .z-p-des-icon {
  padding-right: 0.25rem;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: sub;
}
.z-person .z-p-des .z-p-des-w {
  line-height: 2.3rem;
  border-bottom: 0.05rem solid #f4f4f4;
  font-size: 0.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-person .z-p-des .z-p-des-w:nth-last-child(1) {
  border-bottom: none;
}
.z-person .z-p-des .z-p-des-com {
  width: 3.75rem;
  color: #646464;
}
.z-person .z-p-des .z-p-des-comText {
  width: 14.5rem;
  color: #323232;
  word-wrap: break-word;
  word-break: break-all;
}
.z-person .z-p-des .z-p-des-content {
  padding: 0 1.6rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  word-break: break-all;
  color: #646464;
  margin-bottom: 1rem;
}
.z-space {
  width: 18.75rem;
  height: 0.05rem;
  background-color: #f4f4f4;
}
.z-space-com {
  width: 18.75rem;
  height: 0.05rem;
  background-color: #f4f4f4;
}
.c-space-t {
  width: 100%;
}
.z-transaction .z-h4-title {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  color: #323232;
}
.z-transaction .z-h4-title:before {
  content: "";
  width: 0.2rem;
  height: 0.85rem;
  background-color: #ff8400;
  display: inline-block;
  margin: 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-transaction .z-transaction-results {
  background: #fff;
  padding: 0.75rem 0 0.75rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-transaction .z-transaction-results .z-r-totalW {
  width: 9.25rem;
}
.z-transaction .z-transaction-results .z-r-rank {
  width: 9.25rem;
}
.z-transaction .z-transaction-results .z-vertical-line {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 0.25rem;
}
.z-transaction .z-transaction-results .z-vertical-line .z-v-line {
  display: inline-block;
  width: 0.05rem;
  height: 1.5rem;
  background-color: #7e7e7e;
  vertical-align: middle;
}
.z-transaction .z-transaction-results .z-r-s-com {
  font-size: 0.95rem;
  color: #f36e44;
  font-weight: bold;
  line-height: 1.25rem;
}
.z-transaction .z-transaction-results p {
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.25rem;
  height: 1.25rem;
}
.z-num-main .z-num-main-t {
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  color: #323232;
}
.z-num-main .z-num-main-t:before {
  content: "";
  width: 0.2rem;
  height: 0.85rem;
  background-color: #27cba8;
  display: inline-block;
  margin: 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-num-main .Zmain {
  width: 18.75rem;
  height: 15rem;
  margin: auto;
}
.z-num-main .Zshow {
  display: none;
}
.c-z-ondata {
  width: 18.75rem;
  height: 15rem;
  text-align: center;
}
.c-z-nodata-img {
  padding-top: 2.5rem;
  width: 8.45rem;
  height: 6.675rem;
}
.c-z-nodata-text {
  font-size: 0.75rem;
  color: #323232;
  letter-spacing: 0.1rem;
}
.z-phone {
  width: 18.75rem;
  position: fixed;
  bottom: 0;
  border-bottom: 0;
}
.z-p-gy {
  position: relative;
  width: 18.75rem;
  min-height: 5rem;
  line-height: 2.3rem;
  z-index: 0;
}
.z-p-gy .c-gy-v {
  border-bottom: 0.05rem solid #f4f4f4;
}
.z-p-gy .c-p-gy-x {
  height: 2rem;
  line-height: 2rem;
  color: #323232;
  font-size: 0.8rem;
}
.z-p-gy .c-p-gy-x:before {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 0.85rem;
  background-color: #ff4535;
  margin: 0 0.5rem;
  vertical-align: -0.1rem;
}
.z-cold-mobile {
  display: block;
  width: 18.75rem;
  overflow: auto;
  max-height: 15rem;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  text-align: center;
}
.z-cold-mobile .c-text {
  height: 2.3rem;
  line-height: 2.3rem;
  font-size: 0.8rem;
  color: #323232;
}
.z-cold-mobile .c-com {
  height: 3.55rem;
  line-height: 3.55rem;
  font-size: 0.8rem;
  color: #323232;
  display: block;
  text-align: initial;
}
.z-cold-mobile .c-com .c-sp-text {
  width: 8.75rem;
  display: inline-block;
}
.z-cold-mobile .c-cancel {
  height: 2.45rem;
  line-height: 2.45rem;
  font-size: 0.8rem;
  color: #323232;
}
.z-cold-mobile .c-img-com {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 1rem 0 1.5rem;
  vertical-align: middle;
  border-radius: 100%;
}
.z-cold-mobile .c-m-icon-com {
  width: 0.85rem;
  height: 0.85rem;
  vertical-align: middle;
}
.Cshow {
  display: none;
}
.c-border-none {
  border: none !important;
}
.c-gq-list {
  margin-bottom: 2.5rem;
}
.z-space-h {
  height: 0.5rem;
  width: 100%;
  background-color: #f3f3f3;
}
.li-space {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.75rem;
  color: #323232;
  text-align: center;
  width: 18.75rem;
  background-color: #fff;
}
.xq-c-sign {
  position: fixed;
  bottom: 0;
  width: 18.75rem;
  height: 2.5rem;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}
.z-p-follow {
  width: 4.75rem;
  height: 2.5rem;
  font-size: 0.7rem;
  background-color: #fff;
  position: relative;
}
.z-p-follow .z-p-f {
  margin: auto;
  color: #646464;
  line-height: 1rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
}
.z-p-star {
  width: 100%;
  height: 1.5rem;
  background: url("../img/hasAttention.png") no-repeat center;
  background-size: 1.25rem 1.25rem;
}
.startActive {
  background: url("../img/attentionN.png") no-repeat center;
  background-size: 1.25rem 1.25rem;
}
.z-p-phone {
  width: 14rem;
  height: 2.5rem;
  background-color: #2fcaa7;
  line-height: 2.5rem;
  text-align: center;
  z-index: 99;
}
.z-p-phone a {
  color: #fff;
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: 100%;
}
.z-x-sp-com {
  color: #646464;
}
.show {
  display: none;
}
